@import "../../../../../App.scss";
.description {
   background-color: white;

   &__wrapper {
      width: 1366px;
      margin: auto;
      padding: 20px 0;
      @include desktop {
         width: 1050px;
         padding: 20px;
      }
      @include tablet{
         width: 750px;
      }
      @include mobile{
         width: 100%;
      }

      .description__title {
         text-align: center;
         font-size: 60px;
         padding: 10px;
      }

      .description__content {
         display: flex;
         @include tablet{
            flex-direction: column;
         }

         .description__img-side {
            flex: 1;
            padding: 30px;
            @include tablet{
               display: flex;
               align-items: center;
               justify-content: center;
            }

            img {
               border-radius: 16px;
               height: 300px;
               -webkit-box-shadow: 7px 7px 20px 0px rgba(66, 68, 90, 1);
               -moz-box-shadow: 7px 7px 20px 0px rgba(66, 68, 90, 1);
               box-shadow: 7px 7px 20px 0px rgba(66, 68, 90, 1);
               @include mobile{
                  height: 250px;
               }
            }
         }

         .description__info-side {
            flex: 2;
            padding: 30px 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p {
               letter-spacing: 0.6px;
               text-shadow: 4px 4px 11px rgba(105, 106, 128, 1);
               font-size: 24px;
            }

            a {
               display: flex;
               gap: 10px;
               align-items: center;
               font-size: 22px;
               background-color: transparent;
               border: none;
               border-right: 1px solid black;
               cursor: pointer;
               margin-top: 10px;
               padding: 12px 20px 12px 30px;

               &:hover {
                  text-decoration: underline;
                  border-right: 4px solid black;
                  padding-right: 17px;
                  background-color: #E4F1FF;
                  border-top-left-radius: 5px;
                  border-bottom-left-radius: 5px;
               }
            }
         }
      }
   }
}